$color-gray-dark: #333333;
$color-gray-medium: #666666;
$color-gray-light: #999999;
$color-accent: #E91E63;


// #DB7422, #FACF0F

/* Estilos para elementos grises */
.gray {
    color: $color-gray-dark;
}

.gray-light {
    color: $color-gray-light;
}

/* Estilos para elementos de color */
.accent {
    color: $color-accent;
}



header {
    background-color: $color-gray-dark;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

    img {
        transition: all 1s;
    }

    h1 {
        transition: all 1s;
    }

    p {
        transition: all 1s;
    }

    .nav-item .active {
        position: relative;
    }

    .nav-item .active::before {
        content: '';
        position: absolute;
        left: 25%;
        top: 0%;
        transform: translateY(-50%);
        width: 50%;
        height: 2px;
        background-color: white;
        z-index: 100000;
    }


}



/* Estilos para cuando la página esté desplazada más de 60 píxeles */
header.scrolled {
    background-color: #222;

    img {
        height: 50px;
        width: auto;
    }

    h1 {
        font-size: 1.85rem;
        margin-bottom: 0;
    }

    p {
        font-size: 0rem;
    }
}

#inicio {
    background-color: $color-gray-medium;
    padding-top: 9rem;
}

#sobre-mi {
    background-color: $color-gray-light;
}


#servicios,
#trabajos {
    background-color: $color-gray-light;
}

#contacto {
    background-color: $color-gray-medium;

    a {
        font-weight: 700;
    }
}

html {
    scroll-behavior: smooth;
    font-size: Calc(8px + 0.5vw);
}

body {
    font-size: Calc(8px + 0.5vw);
    font-family: 'Open Sans', sans-serif;

    line-height: 1.5;
    /* o cualquier otro interlineado que desees */
    color: #333;
    /* o cualquier otro color que desees */


}

/* Estilos para encabezados */

h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    /* o cualquier otro peso que desees */

}

section {
    min-height: 20rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    font-size: 1rem;
    color: white;

    >* {
        margin-top: auto;
        margin-bottom: auto;
    }

    &:first-of-type {
        //padding-top: 6rem;

        @media (max-width: 600px) {}

    }

    a {
        color: white !important;
        text-decoration: underline !important;
        font-weight: bold;
    }
}

header {
    position: fixed;
    left: 0;
    right: 0;
    color: white !important;
    font-size: 0.9rem;
    z-index: 100;

    p,
    a {
        color: white !important;
    }
}